  <!DOCTYPE html>
  <!-- ABOUT -->
  <html lang="en">
    <head>
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="" type="image/x-icon">    
      <link rel="shortcut icon" href="" type="image/x-icon">
      <meta name="description" content="Bits Workshop Order System"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../allorders-style.css"/>
      <meta name="theme-color" content="black">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="../min.js"></script>
      <title>Connect</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="../jquery214.js"></script>
      <script type="text/javascript" src="../materialize.min.js"></script>
      <script type="text/javascript" src="../dashboard-action.js"></script>
      <!-- NAVIGATION -->
      <ul id="dropdown2" class="dropdown-content grey lighten-2">
        <li><a href="../" class="grey-text text-darken-4">Logout</a></li>
      </ul>
      <nav class="grey darken-3">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="./allusers">View Users</a></li>
            <li><a href="./allorders">View Orders</a></li>
            <li><a href="./allworkers">View Workers</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= username%><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav grey darken-4" id="mobile-demo">
        <li><a href="./allusers" class="grey-text text-lighten-2">View Users</a></li>
        <li><a href="./allorders" class="grey-text text-lighten-2">View Orders</a></li>
        <li><a href="./allworkers" class="grey-text text-lighten-2">View Workers</a></li>
        <li><a href="../" class="grey-text text-lighten-2">Logout</a></li>
      </ul>
      <!-- EIGHTY FOUR -->
      <div class="eightyfour grey lighten-2">
        <div id="allorders" class="eightyfourin">
          <table class="centered table white">
            <thead>
              <tr>
                  <th>Order Name</th>
                  <th>Order Id</th>
                  <th>Customer Name</th>
                  <th>Item Qty</th>
                  <th>Order Status</th>
                  <th>Configure Order</th> 
              </tr>
            </thead>

            <tbody>
              <% for(var i=0; i < data.length; i++) { %>
                <% for(var j=0; j < data[i].orders.length; j++) { %>
                  <tr>
                    <td><%= data[i].orders[j].ordername %></td>
                    <td><%= data[i].orders[j].orderid %></td>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].orders[j].orderqty %></td>
                    <td><%= data[i].orders[j].orderstatus %></td>
                    <td><a href="./order/<%= data[i]._id %>/<%= data[i].orders[j].orderid %>">Click Here</a></td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- FOOTER -->
      <% include partials/footer.ejs %>
    </body>
  </html>
