  <!DOCTYPE html>
  <!-- ABOUT -->
  <html lang="en">
    <head>
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="" type="image/x-icon">    
      <link rel="shortcut icon" href="" type="image/x-icon">
      <meta name="description" content="Bits Workshop Order System"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../allworkers-style.css"/>
      <meta name="theme-color" content="black">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script defer type="text/javascript" src="../min.js"></script>
      <title>Workshop | Bits Pilani</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script defer type="text/javascript" src="../jquery214.js"></script>
      <script defer type="text/javascript" src="../materialize.min.js"></script>
      <script defer type="text/javascript" src="../allworkers-action.js"></script>
      <!-- NAVIGATION -->
      <% include partials/downAdmL1.ejs %>
      <!-- EIGHTY FOUR -->
      <div class="eightyfour grey lighten-2">
        <table class="centered table white">
            <thead>
              <tr>
                  <th>User Name</th>
                  <th>Worker Id</th>
                  <th>Last Login</th>
                  <th>Last Logout</th>
                  <th>See Details</th>
              </tr>
            </thead>

            <tbody>
              <% for(var i=0; i < data.length; i++) { lastlogin= new Date(data[i].login[data[i].login.length-1]); lastlogout= new Date(data[i].logout[data[i].logout.length-1]); %>
                <tr>
                  <td><%= data[i].username%></td>
                  <td><%= data[i].wid %></td>
                  <td><% if(lastlogin){ lastlogin.setHours(lastlogin.getHours() + 5); lastlogin.setMinutes(lastlogin.getMinutes() + 30); %><%= new Date(lastlogin).toLocaleDateString('en-GB') %> <%= new Date(lastlogin).toLocaleTimeString('en-GB') %><% } %></td>
                  <td><% if(lastlogout){ lastlogout.setHours(lastlogout.getHours() + 5); lastlogout.setMinutes(lastlogout.getMinutes() + 30); %><%= new Date(lastlogout).toLocaleDateString('en-GB') %> <%= new Date(lastlogout).toLocaleTimeString('en-GB') %><% } %></td>
                  <td><a href="./allworkers/<%= data[i]._id %>">Click Here</a></td>
                 </tr>
              <% } %>
            </tbody>
            <tfoot>
              <tr>
                  <th style="cursor: pointer;" onclick="modalopen();">Download Attendance Excel Sheet : All Workers<i class="material-icons">file_download</i></th>
              </tr>
            </tfoot>
          </table>
      </div>
      <!-- MODAL -->
      <div class="modal modaldwnl grey lighten-3">
        <div class="modal-content grey darken-3 white-text">
          <h4 style="text-align: center;">Download Attendance Excel Sheet</h4>
        </div>
        <p>All Workers</p>
        <p>Number of weeks indicate duration of attendance back in time from now. </p>
        <div class="modal-footer grey darken-3 white-text foot">
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./allworkers/all/1/download">1 week</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./allworkers/all/2/download">2 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./allworkers/all/3/download">3 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./allworkers/all/4/download">4 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3" onclick="modalclose();">Close</btn>
        </div>
      </div>
      <!-- FOOTER -->
      <% include partials/footer.ejs %>
    </body>
  </html>
