  <!DOCTYPE html>
  <!-- ABOUT -->
  <html lang="en">
    <head>
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="" type="image/x-icon">    
      <link rel="shortcut icon" href="" type="image/x-icon">
      <meta name="description" content="Bits Workshop Order System"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../../materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../../../order-style.css"/>
      <meta name="theme-color" content="black">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="../../../min.js"></script>
      <title>Workshop|BitsPilani</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="../../../jquery214.js"></script>
      <script type="text/javascript" src="../../../materialize.min.js"></script>
      <script type="text/javascript" src="../../../order-action.js"></script>
      <!-- NAVIGATION -->
      <% include partials/downAdmL3.ejs %>
      <!-- EIGHTY FOUR -->
      <div class="eightyfour grey lighten-2">
        <div id="myorders" class="eightyfourin">
          <div class="orderinfo white">
            <h3 class="center-align">Order Details</h3>
            <ul>
              <li><b>Customer Id: </b><span id="userid"><%= order.orderuserid%></span></li>
              <li><b>Order Id: </b><span id="orderid"><%= order.orderid%></span></li>
              <li><b>Item Name: </b><span><%= order.ordername%></span></li>
              <li><b>Item Description: </b><span><%= order.orderabout%></span></li>
              <li><b>Item Quantity: </b><span><%= order.orderqty%></span></li>
              <li><b>Order Status: </b><span><b><%= order.orderstatus%></b></span></li>
              <li><b>Order Cost: </b>Rs.<span><%= order.ordercost%></span></li>
              <li><b>Order Image URL: </b><span><a href="<%= order.imageurl%>"><%= order.imageurl%></a></span></li>
              <img id="orderimage" src="<%=order.imageurl%>"/>
            </ul>

            <h3 class="center-align">Admin Actions</h3>
              <% if(order.orderstatus=="placed"){ %>
                <a class="waves-effect waves-light btn btn-accept grey darken-4" onclick="accept();">Accept Order</a>
                <a class="waves-effect waves-light btn btn-reject grey darken-4" onclick="reject();">Reject Order</a>
              <% } %>
              <% if(order.orderstatus=="accepted"){ %>
                <div class="input-field">
                  <input id="icost" type="number" class="validate" min="1">
                  <label for="icost">Enter Total Order Cost</label>
                </div>
                  <div class="col s12 m7">
                    <h3 class="header center-align">Plan</h3>
                    <div class="card horizontal grey darken-4">
                      <div class="card-stacked">
                        <div class="card-content card-shop">
                            <div class="input-field row white" style="padding:2vh 2vw;">
                              <select class="col s12 l6">
                                <option value="" disabled selected>Choose Shop</option>
                                <option value="1">Shop 1</option>
                                <option value="2">Shop 2</option>
                                <option value="3">Shop 3</option>
                                <option value="4">Shop 4</option>
                                <option value="5">Shop 5</option>
                                <option value="6">Shop 6</option>
                                <option value="7">Shop 7</option>
                              </select>
                            </div>
                            <div class="input-field row grey-text text-darken-4 white worker">
                              <select class="col s6 selectworker">
                                <option value="" disabled selected>Choose Worker</option>
                                <% for(var i=0; i< workers.length; i++) { %>
                                  <option value="<%= workers[i]._id %>"> <%= workers[i].username %>||<%= workers[i]._id %> </option>
                                <% } %>
                              </select>
                              <span class="col s2">From</span>
                              <input type="text" class="datepicker col s5 validate" placeholder="Date [From]">
                              <input type="text" class="timepicker col s5 validate" placeholder="Time [From]">
                              <span class="col s2">To</span>
                              <input type="text" class="datepicker col s5 validate" placeholder="Date [To]">
                              <input type="text" class="timepicker col s5 validate" placeholder="Time [To]">
                              <div class="input-field col s12">
                                <textarea id="job" class="materialize-textarea"></textarea>
                                <label for="job">Job Description</label>
                              </div>
                              <div class="input-field col s12">
                                <textarea id="req" class="materialize-textarea"></textarea>
                                <label for="req">Inputs</label>
                              </div>
                              <a class="waves-effect waves-light btn grey darken-4 col s6 offset-s3" onclick="addman(this)"><i src=""></i>Add Worker</a>
                            </div>
                          
                        </div>
                        <div class="card-action white-text">
                          <a onclick="addshop(this)" class="white-text">Add Another Shop</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="waves-effect waves-light btn btn-view grey darken-4 col s6 offset-s3" onclick="view()"><i src=""></i>View Plan</a>
                  <a class="waves-effect waves-light btn btn-confirm grey darken-4 col s6 offset-s3" onclick="confirm()"><i src=""></i>Confirm Plan</a>
              <% } %>
            <h3 class="center-align">Order Timeline</h3>
            <div class="timeline">
              <% if(order.orderstatus=="placed"){ %>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Placed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Accepted</span>
                      <p>Waiting</p>
                    </div>
                  </div>
                  <div class="timeline-badge grey white-text"><i class="material-icons">more_horiz</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Completed</span>
                      <p>Waiting</p>
                    </div>
                  </div>
                  <div class="timeline-badge grey white-text"><i class="material-icons">more_horiz</i></div>
                </div>
              <% } %>
              <% if(order.orderstatus=="rejected"){ %>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Placed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Rejected</span>
                      <p></p>
                    </div>
                  </div>
                  <div class="timeline-badge red white-text"><i class="material-icons">priority_high</i></div>
                </div>
              <% } %>
              <% if(order.orderstatus=="accepted"){ %>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Placed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Accepted</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Completed</span>
                      <p>Waiting</p>
                    </div>
                  </div>
                  <div class="timeline-badge grey white-text"><i class="material-icons">more_horiz</i></div>
                </div>
              <% } %>
              <% if(order.orderstatus=="running" ){ %>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Placed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Accepted</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <% for(var i= order.orderinfo.length-1 ; i >= 0; i--) { %>
                  <div class="timeline-event shoptime">
                    <div class="card timeline-content">
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= order.orderinfo[i].shop %></span>
                        <p>
                          <b>Time:</b> <span class="fromtime"><%=  order.orderinfo[i].fromtime %></span>, <span class="fromdate"><%= order.orderinfo[i].fromdate %></span> - <span class="totime"><%= order.orderinfo[i].totime %></span>, <span class="todate"><%= order.orderinfo[i].todate %></span>
                          <br>
                          <span> <b>Description:</b> <%= order.orderinfo[i].description %></span>
                          <br>
                          <span> <b>Information:</b> <%= order.orderinfo[i].inputs %></span>
                          <br>
                          <span> <b>Worker:</b> <%= order.orderinfo[i].worker %></span>
                        </p>
                      </div>
                    </div>
                    <div class="timeline-badge grey white-text"><i class="material-icons">more_horiz</i></div>
                  </div>
                <% } %>
                <div class="timeline-event completed">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Completed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge grey white-text"><i class="material-icons">more_horiz</i></div>
                </div>
              <% } %>
              <% if(order.orderstatus=="completed" ){ %>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Placed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <div class="timeline-event">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Accepted</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done</i></div>
                </div>
                <% for(var i= order.orderinfo.length-1 ; i >= 0; i--) { %>
                  <div class="timeline-event shoptime">
                    <div class="card timeline-content">
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= order.orderinfo[i].shop %></span>
                        <p>
                          <b>Time:</b> <span class="fromtime"><%=  order.orderinfo[i].fromtime %></span>, <span class="fromdate"><%= order.orderinfo[i].fromdate %></span> - <span class="totime"><%= order.orderinfo[i].totime %></span>, <span class="todate"><%= order.orderinfo[i].todate %></span>
                          <br>
                          <span> <b>Description:</b> <%= order.orderinfo[i].description %></span>
                          <br>
                          <span> <b>Information:</b> <%= order.orderinfo[i].inputs %></span>
                          <br>
                          <span> <b>Worker:</b> <%= order.orderinfo[i].worker %></span></p>
                      </div>
                    </div>
                    <div class="timeline-badge green white-text"><i class="material-icons">done_all</i></div>
                  </div>
                <% } %>
                <div class="timeline-event completed">
                  <div class="card timeline-content">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Order Completed</span>
                      <p>Completed</p>
                    </div>
                  </div>
                  <div class="timeline-badge green white-text"><i class="material-icons">done_all</i></div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL -->
      <div class="modal view grey lighten-3">
        <div class="modal-content grey darken-3 white-text center-align" id="add">
        </div>
        
        <div class="modal-footer grey darken-3 black-text foot">
          <btn class="modal-action waves-effect waves-blue grey lighten-3" onclick="closeit();">Close</a></btn>
        </div>
      </div>
      <!-- FOOTER -->
      <% include partials/footer.ejs %>
    </body>
  </html>
