  <!DOCTYPE html>
  <!-- ABOUT -->
  <html lang="en">
    <head>
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="" type="image/x-icon">    
      <link rel="shortcut icon" href="" type="image/x-icon">
      <meta name="description" content="Bits Workshop Order System"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/workerinfo-style.css"/>
      <meta name="theme-color" content="black">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script defer type="text/javascript" src="/min.js"></script>
      <title>Workshop | Bits Pilani</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script defer type="text/javascript" src="/jquery214.js"></script>
      <script defer type="text/javascript" src="/materialize.min.js"></script>
      <script defer type="text/javascript" src="/workerinfo-action.js"></script>
      <!-- NAVIGATION -->
      <% include partials/downAdmL2.ejs %>
      <!-- EIGHTY FOUR -->
      <div class="eightyfour grey lighten-2">
        <table class="centered table white">
            <thead>
              <tr>
                  <th>Last IN</th>
                  <th>Last OUT</th>
              </tr>
              <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Time</th>
              </tr>
            </thead>

            <tbody>
              <% x=data.login.length; y=data.logout.length; for(var i=((x>y)?x-1:y-1); i>=0; i--){ logini= new Date(data.login[i]); logouti= new Date(data.logout[i]); logini.setHours(logini.getHours() + 5); logini.setMinutes(logini.getMinutes() + 30); logouti.setHours(logouti.getHours() + 5); logouti.setMinutes(logouti.getMinutes() + 30);%>
              <tr>
                  <td><%= new Date(logini).toLocaleDateString('en-GB') %></td>
                  <td><%= new Date(logini).toLocaleTimeString('en-GB') %></td>
                  <td><%= new Date(logouti).toLocaleDateString('en-GB') %></td> 
                  <td><%= new Date(logouti).toLocaleTimeString('en-GB') %></td>
              </tr>
              <% } %>
            </tbody>
            <tfoot>
              <tr>
                  <th>Worker Name: <%= data.username %></th>
                  <th>Worker Id: <%= data.wid %></th>
                  <th style="cursor: pointer;" onclick="modalopen();">Download Attendance <i class="material-icons">file_download</i></th>
              </tr>
            </tfoot>
          </table>
      </div>
      <!-- MODAL -->
      <div class="modal modaldwnl grey lighten-3">
        <div class="modal-content grey darken-3 white-text">
          <h4 style="text-align: center;">Download Attendance Excel Sheet</h4>
        </div>
        <p>Worker Name :   <b><span id="worker-name"><%= data.username %></span></b></p>
        <p>Worker Id :   <b><span id="worker-id"><%= data.wid %></span></b></p>
        <div class="modal-footer grey darken-3 white-text foot">
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./<%= data.id %>/1/download">1 week</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./<%= data.id %>/2/download">2 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./<%= data.id %>/3/download">3 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./<%= data.id %>/4/download">4 weeks</a></btn>
          <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3" onclick="modalclose();">Close</btn>
        </div>
      </div>
      <!-- FOOTER -->
      <% include partials/footer.ejs %>
    </body>
  </html>
